# Ignore large model or dataset files
*.h5
*.pkl
*.zip
*.pt
*.csv
*.keras

# Ignore model and data folders
model/
data/

# Ignore Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Environments
venv/
.env/

# VSCode / system
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
